<div class="grid min-h-screen grid-cols-12 overflow-auto">
  <div
    class="relative hidden bg-[#FFE9D1] dark:bg-[#14181c] lg:col-span-7 lg:block xl:col-span-8 2xl:col-span-9"
  >
    <div class="absolute inset-0 flex items-center justify-center">
      <img src="bg.svg" class="object-cover w-full h-full" alt="bg image" />
    </div>
    <div class="w-full flex h-screen items-center justify-center">
        <div class="absolute w-2/3 p-10 flex-col">
            <div class="p-10 bg-transparent backdrop-contrast-125 rounded-xl shadow-lg hover:scale-110 transition duration-300 ease-in-out ">
                <h1 class="text-3xl font-bold text-center">PIA Lara</h1>
                <p class="text-center font-medium">
                  El PIA Lara nace como un Proyecto de Investigación Aplicada impulsado
                  desde la <em>Conselleria d'Educació</em> de la
                  <em>Comunitat Valenciana</em> para fomentar actuaciones de carácter
                  innovador, experimental y formativo en FP, promoviendo la innovación en
                  la práctica docente así como las relaciones entre los centros educativos
                  de FP y las empresas.<br />
                  <br />Este proyecto se desarrolla de manera conjunta por:<br />
                  - <a class="link-hover" href="https://portal.edu.gva.es/03013224/">IES Severo Ochoa de
                  Elche</a> <br />
                  - <a class="link-hover" href="https://portal.edu.gva.es/iesgranvia/">IES Gran Vía  de
                    Alicante</a><br />
                  - <a class="link-hover" href="https://portal.edu.gva.es/ivk/">IES Victoria Kent de
                    Elche</a> <br />
                  - <a class="link-hover" href="https://tilua.es">Tilúa</a><br />
                  - <a class="link-hover" href="https://josebarragancsd.com">José Barragán</a><br />
                  - <a class="link-hover" href="https://teralco.com">Teralco</a><br />
                </p>
            </div>
        </div>
    </div>
  </div>
  <div class="col-span-12 lg:col-span-5 xl:col-span-4 2xl:col-span-3">
    <div class="flex flex-col items-stretch p-8 lg:p-16">
      <div class="flex items-center justify-center">
        <img
          src="logoLara.png"
          alt="logo-dark"
          class="hidden dark:inline h-28"
        />
      </div>
      <h3 class="mt-12 text-center text-xl font-semibold lg:mt-24">
        Bienvenido
      </h3>
      <div class="mt-10">
        <div>
          <div class="form-control">
            <label for="email" class="label"
              ><span class="label-text cursor-pointer">Usuario</span></label
            >
            <div
              class="form-control flex flex-row items-center rounded-box border border-base-content/20 ps-3"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="text-base-content/80"
                font-size="18"
                width="1em"
                height="1em"
                viewBox="0 0 24 24"
              >
                <g
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                >
                  <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                  <path d="m22 7l-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                </g></svg
              ><input
                name="email"
                id="email"
                placeholder="Tu Email" (blur)="comprobarEmail()" [formControl]="emailControl"
                class="input w-full focus:border-transparent focus:outline-0 transition-all input-sm focus:outline-offset-0"
              />
            </div>
          </div>
          <div class="form-control mt-3">
            <label for="password" class="label"
              ><span class="label-text cursor-pointer">Contraseña</span></label
            >
            <div
              class="form-control flex flex-row items-center rounded-box border border-base-content/20 ps-3 pe-3"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="text-base-content/80"
                font-size="18"
                width="1em"
                height="1em"
                viewBox="0 0 24 24"
              >
                <g
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                >
                  <path
                    d="M2 18v3c0 .6.4 1 1 1h4v-3h3v-3h2l1.4-1.4a6.5 6.5 0 1 0-4-4Z"
                  ></path>
                  <circle cx="16.5" cy="7.5" r=".5"></circle>
                </g></svg
              ><input
                name="password"
                id="password"
                type="password"
                placeholder="Tu Contraseña" (blur)="comprobarPassword()" [formControl]="passwordControl"
                class="input w-full focus:border-transparent focus:outline-0 transition-all input-sm focus:outline-offset-0"
              /><button
                type="button"
                aria-label="Show/Hide password"
                class="btn hover:bg-base-content/10 btn-xs btn-circle btn-ghost"
                (click)="showPassword()"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="text-base-content/80"
                  font-size="16"
                  width="1em"
                  height="1em"
                  viewBox="0 0 24 24"
                >
                  <g
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                  >
                    <path
                      d="M2 12s3-7 10-7s10 7 10 7s-3 7-10 7s-10-7-10-7Z"
                    ></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </g>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="mt-4 md:mt-6">
          @if(this.errorMensaje() !== ''){
            <div role="alert" class="alert alert-error mb-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 shrink-0 stroke-current"
                fill="none"
                viewBox="0 0 24 24">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <span>Error! {{this.errorMensaje()}}</span>
            </div>
          }
          <button class="btn text-base gap-2 btn-primary btn-block" (click)="login()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              aria-hidden="true"
              role="img"
              font-size="16"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
            >
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4m-5-4l5-5l-5-5m5 5H3"
              ></path></svg
            >Iniciar Sesión
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
