<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold mb-2">CONSENTIMIENTO DE GRABACIÓN DE DATOS</h3>
    <p class="text-sm text-gray-700 mb-4">
      <span class="font-semibold">Nombre de la aplicación:</span> PIA Lara
      <br />
      <span class="font-semibold"
        >Nombre del responsable del tratamiento de datos:</span
      >
      Conselleria de Educación, Cultura y Deporte dependiente de la Generalitat
      Valenciana
      <br />
      <span class="font-semibold">Finalidad del tratamiento de datos:</span> La
      aplicación PIA Lara es un proyecto para la creación de una aplicación que
      usará archivos de audio de forma que se facilite su entendimiento mediante
      el uso de inteligencia artificial. Para ello se utilizarán los audios de
      los usuarios/interesados en los entrenamientos, pero nunca para ser
      mostrados a ningún usuario ni cedidos a terceros.
      <br />
      <span class="font-semibold"
        >Base legitimadora del tratamiento de datos:</span
      >
      El tratamiento de datos se realiza en base al consentimiento del usuario,
      que se manifiesta al aceptar los términos y condiciones de la aplicación y
      la firma y aceptación del presente documento.
      <br />
      <span class="font-semibold"
        >Información necesaria para el interesado:</span
      >
      Para utilizar la aplicación, el usuario debe proporcionar su nombre y
      apellidos. Además, se recogerá la información generada por el usuario en
      el uso de la aplicación, como las grabaciones de los audios y textos
      creados por los/as mismos/as.
      <br />
      <span class="font-semibold"
        >Derechos del interesado en relación con sus datos personales:</span
      >
      El usuario podrá revocar su consentimiento en cualquier momento. Además,
      el usuario tiene derecho a acceder, rectificar y suprimir sus datos
      personales, así como a limitar y oponerse al tratamiento de los mismos.
      También tiene derecho a la portabilidad de sus datos y a presentar una
      reclamación ante la autoridad de control competente.
      <br />
      <span class="font-semibold"
        >Forma de ejercicio de los derechos del interesado:</span
      >
      Para ejercitar sus derechos, el usuario debe enviar un correo electrónico
      a protecciondedatos&#64;piafplara.es, indicando su nombre y apellidos,
      dirección de correo electrónico y el derecho que desea ejercitar.
      <br />
      Si continúa usando la aplicación, se entiende que usted ha leído,
      comprende y acepta los términos anteriormente expresados.
    </p>
    <div class="modal-action">
      <form method="dialog">
        <button id="aceptar" class="btn mr-2">Acepto el consentimiento</button>
        <button class="btn btn-error" routerLink="/">No acepto</button>
      </form>
    </div>
  </div>
</dialog>

<div
  class="hero min-h-screen"
  style="
    background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);
  "
>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="text-xl font-bold">Bienvenido, ¿Qué puedes hacer ahora?</h1>
      <div class="card bg-base-100 w-96 shadow-xl">
        <figure>
          <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            alt="Shoes"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Shoes!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
