<div class="navbar bg-base-100 shadow-lg fixed top-0 w-full z-50 backdrop-blur-sm bg-white/80">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden" (click)="toggleMenu()">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </label>
        <ul tabindex="0" 
            class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
            [class.hidden]="!isMenuOpen">
          <li><a routerLink="/record-audio" class="text-primary">Grabar Audio</a></li>
          <li><a routerLink="/view-tags">Ver Tags</a></li>
          <li><a routerLink="/profile">Perfil</a></li>
        </ul>
      </div>
      <a class="btn btn-ghost normal-case text-xl flex items-center gap-2" routerLink="/inicioCliente">
        <img src="logoLara.png" alt="Lara Logo" class="h-8">
        <span class="text-primary font-bold">LARA</span>
      </a>
    </div>
    
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1 space-x-2">
        <li>
          <a routerLink="/record-audio" 
             class="text-sm font-medium hover:text-primary transition-colors">
            Grabar Audio
          </a>
        </li>
        <li>
          <a routerLink="/view-tags"
             class="text-sm font-medium hover:text-primary transition-colors">
            Ver Tags
          </a>
        </li>
      </ul>
    </div>
    
    <div class="navbar-end">
        <button class="btn btn-ghost btn-circle" (click)="toggleAccessibilitySidebar()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
            </svg>
          </button>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full ring ring-primary ring-offset-2">
            <img src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png" alt="profile" />
          </div>
        </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li><a routerLink="/profile">Perfil</a></li>
          <li><a routerLink="/settings">Configuración</a></li>
          <li><a (click)="logOut()">Cerrar Sesión</a></li>
        </ul>
      </div>
    </div>
  </div>

  <app-accessibility-sidebar [isOpen]="isAccessibilitySidebarOpen"></app-accessibility-sidebar>