<app-navbar></app-navbar>
<div style="background-image: url('bgindex.jpg'); background-size: cover; background-position: center;" class="min-h-screen flex items-center justify-center flex-col">
	<div class="backdrop-blur-sm p-20 flex items-center justify-center flex-wrap">
		@for (tag of tagsRandom; track $index) {
			<div class="card bg-base-100 image-full w-96 shadow-xl mr-1 mb-1 max-sm:mt-10 max-md:mt-30">
				<figure>
				  <img
					src="bg.svg"
					alt="Shoes" />
				</figure>
				<div class="card-body">
				  <h2 class="card-title">{{tag.tag}}</h2>
				  <p>{{tag.texto}}</p>
				  <div class="card-actions justify-end">
					<button class="btn btn-primary">Más</button>
				  </div>
				</div>
			  </div>
		}
	</div>
	<div>

	</div>
</div>
