<div class="drawer">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
     <div class="flex items-center justify-center w-full p-2 absolute z-40">
      <div class="navbar bg-base-300 w-5/6 rounded-md shadow-lg shadow-slate-300 items-center justify-center">
          <div class="flex-none lg:hidden">
            <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block h-6 w-6 stroke-current">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </label>
          </div>
          <div class="mx-2 flex-1 px-2"><img class=" w-28" src="logoLara.png" alt=""></div>
          <div class="hidden flex-none lg:block">
            <ul class="menu menu-horizontal">
              <!-- Navbar menu content here -->
              <li><a class="btn btn-secondary mr-2 shadow-md">Ver Etiquetas</a></li>
              <li><a class="btn btn-secondary shadow-md mr-2">Grabar Audio</a></li>
              <li><a class="btn btn-secondary shadow-md mr-2">Perfil</a></li>
              <li><a class="btn btn-secondary shadow-md" (click)="logout()">Salir</a></li>
            </ul>
          </div>
        </div>
     </div>
  </div>
  <div class="drawer-side absolute z-40">
    <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 min-h-full w-80 p-4">
      <img class=" w-50 drop-shadow-xl shadow-black" src="logoLara.png" alt="">
      <li><a class="btn btn-secondary mb-2 shadow-md">Ver Etiquetas</a></li>
      <li><a class="btn btn-secondary mb-2 shadow-md">Grabar Audio</a></li>
      <li><a class="btn btn-secondary mb-2 shadow-md">Perfil</a></li>
      <li><a class="btn btn-secondary mb-2 shadow-md" (click)="logout()">Salir</a></li>
    </ul>
  </div>
</div>